<div class="row">
     <div class="col-md-7">
          <%= render 'partials/experience' %>
          <hr>
          <%= render 'partials/education' %>
     </div>
     <div class="col-md-5">
          <%= render 'partials/skills' %>
          <hr>
          <%= render 'partials/interests' %>
          <hr>
          <%= render 'partials/languages' %>
     </div>
</div>
